@* AIzaSyCYAGMshOEzihNSk12ZY0evyqld6mnl6Kg
Boulevard Bir Anzarane, Casablanca: 33.582833, -7.640833
17 Rue Abou Ishak Chirazi, Casablanca: 33.581500, -7.641480
52YfEnPGDpkwfmKBphJ4egihwH6w09K8

112 Rue Al Fourate, Casablanca 20250: 33.583916, -7.645138

1600 Amphitheatre Parkway, Mountain View, CA *@

<html>
<head>  
    @* <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCYAGMshOEzihNSk12ZY0evyqld6mnl6Kg"></script>   *@
    <!--<script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCYAGMshOEzihNSk12ZY0evyqld6mnl6Kg">
    </script>-->
    

    <script src='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css' rel='stylesheet' />

</head>  
<body>  
<div id='map' style='width: 1000px; height: 500px;'></div>
<script>
  mapboxgl.accessToken = 'pk.eyJ1IjoieW9zb3MiLCJhIjoiY2s5em9oZnVmMDQ1ZTNscG0xM3NnMHB5OCJ9.pMJU6jYzp8Uj1BYqfYG6GQ';
  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v11',
    center: [-7.637536, 33.578687],
    zoom: 11.15
  });
</script>

@* <input type="button" value="Click to Display Map" onclick="DisplayGoogleMap()" />   *@
    @* <div id="myDiv" style="width:100%;height:400px;"></div>  
      
    <script type="text/javascript">  
        function DisplayGoogleMap() {  
  
            //Set the Latitude and Longitude of the Map: Maarif
            var myAddress = new google.maps.LatLng(33.581792, -7.644422);  
  
            //Create Options or set different Characteristics of Google Map  
            var mapOptions = {  
                center: myAddress,  
                zoom: 15,  
                minZoom: 15,  
                mapTypeId: google.maps.MapTypeId.ROADMAP  
            };  
  
            //Display the Google map in the div control with the defined Options  
            var map = new google.maps.Map(document.getElementById("myDiv"), mapOptions);  
  
            //Set Marker on the Map  
            var marker = new google.maps.Marker({  
                position: myAddress,  
                animation: google.maps.Animation.BOUNCE,  
            });  
  
            marker.setMap(map);
           }
           DisplayGoogleMap();
    </script> *@
</body>
</html>